# Ollama 配置
OLLAMA_BASE_URL=http://localhost:11434
MODEL_NAME=qwen2.5:0.5b
EMBED_MODEL_NAME=mxbai-embed-large:latest

# 数据库配置
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/ai_course_db

# 应用配置
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=true